.flat-toggle {
    width: 32px;
    border-radius: 4px;
    height: 10px;
    background-color: #CECECE;
    position: relative;
    margin: 20px 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.flat-toggle:after {
    border-radius: 100%;
    background-color: #E6E6E6;
    position: absolute;
    left: 0;
    top: -3px;
    width: 15px;
    height: 15px;
    content: '';
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translateX(0);
     transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.flat-toggle > span {
    margin-right: 6px;
    position: relative;
    top: -8px;
    color: #666;
    white-space: nowrap;
    display: block;
    cursor: pointer;
	right:30px;
}

.flat-toggle:hover {
    cursor: pointer;
}

.flat-toggle:hover span {
    color: black;
    cursor: pointer;
}

.flat-toggle.on {
    background-color: rgba(242,97,60,0.6);
}

.flat-toggle.on:hover span {
    color: #00A3D9;
    cursor: pointer;
}

.flat-toggle.on:after {
    background-color: #F2613C;
    -webkit-transform: translate(17px);
    -ms-transform: translate(17px);
    transform: translateX(17px);
}

.flat-toggle.on > span {
    color: #00A3D9;
}

.badge-secondary{height: 20px;width: 26px;border-radius: 10px!important;background-color: #F2613C!important;color: #FFFFFF!important;font-family: "Source Sans Pro"!important;font-size: 12px!important;font-weight: bold!important;line-height: 15px!important;text-align: center!important;padding:2px!important}






