.chat {
    padding-top: 0px;
}
.chat .desktop-chat {
    box-shadow: 0px 15px 45px 0px rgba(152, 160, 166, 0.3);
}
.chat h6, .chat .h6 {
	font-size: 14px;
	color: #222222;
	min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0px;
    margin-top: 6px;
}
.br-8 {
    border-radius: 8px;
}
.p-0 {
    padding: 0 !important;
}
.chat .br-1 {
    border-right: 1px solid #e5e5e5;
}
.br-l-6 {
    border-radius: 6px 0px 0px 6px;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}
.bg-white {
    background-color: #fff !important;
}
.pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
.search-box {
    align-items: center !important;
    background-color: #ffffff !important;
    padding: 0px !important;
    border-radius: 0px !important;
    border-bottom:1px solid #e8e8e8;
}
.search-box .form-control{
	margin: 18px 12px!important;
    border-bottom: 1px solid #e8e8e8!important;
    border-top: 1px solid #e8e8e8!important;
    /* border: 0; */
    border-radius: 8px;
}
@media (min-width: 992px){
	.search-box {
		display: flex;
	}
}
.chat .search-box .form-control {
    width: 100% !important;
}
.fz-16 {
    font-size: 16px;
}
.search-box .btn {
    background-color: transparent !important;
}
.chat .chat-list {
    height: 589px;
    overflow-y: scroll;
}
.chat .chat-list li {
    cursor: pointer;
    position: relative;
}
.chat .chat-list li.selected-chat{
	background-color: #418ddb;
}
.chat .chat-list li.selected-chat .login-subtext{
	color: #ffffff!important;
}
.chat .chat-list li.selected-chat .text-black{
    color: #ffffff!important;
}
.chat .chat-list li.selected-chat:hover .chat-action svg{
    color:#ffffff!important;
}
.p-3 {
    padding: 1rem !important;
}
.d-flex {
    display: flex !important;
}
.chat .chat-list li img {
    border-radius: 6px;
}
.chat .img-shadow {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    /*width: 100%;*/
    width:47px;
    height: 47px !important;
}
.chat .online-tag {
	height: 0;
	position:relative;
}
.chat .online-tag svg {
    width: 12px;
    position: absolute;
    top: -5px;
    left: 37px;
    border-radius: 50%;
    border: 2px solid #fff;
    fill: #999999;
}
.text-black {
    color: #000;
}
.fw700 {
    font-weight: 700 !important;
}
.login-subtext {
    color: #999999 !important;
}
.fz-14 {
    font-size: 14px;
}
.fz-12 {
    font-size: 12px;
}
.sub-head-text {
    color: #666666 !important;
}
.chat .setting-btn {
    background: #fff;
    border: 1px solid #CECECE !important;
    box-shadow: 0px 8px 20px 0px rgba(4, 27, 53, 0.1);
    border-radius: 6px !important;
    padding: 7px 8px !important;
}
.chat .dropdown-menu {
    top: -4px !important;
    left: -26px !important;
    min-width: 30px !important;
}
.chat .chat-delete {
    transform: scaleY(-1);
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 15px 45px 0 rgba(4, 27, 53, 0.25) !important;
    top: 7px !important;
    border: none !important;
    border-radius: 6px !important;
    left: -129px !important;
    padding: 11px 38px !important;
}
.chat .chat-screen {
    height: 508px;
    overflow-y: scroll;
    /*background: url(../images/chat-bg.png) repeat center center;*/
    overflow-x: hidden;
    border: none;
    background-color: #ffffff;
}
.bb-1{
	border-bottom: 1px solid #e8e8e8;
}
.chat .chat-date {
    background: #f1f1f1;
    padding: 6px 42px;
    border-radius: 5px;
    font-size: 12px;
	color: #4A4A4A;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.chat .msg_container .row {
    padding: 10px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.avatar {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}
.chat .msg_container .row img {
    display: block;
    width: 55%;
    border-radius: 4px;
}
.avatar img {
    max-width: 100%;
    max-height: 100%;
}
.avatar {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}
.chat .messages {
    background: #eee;
    padding: 10px 12px 9px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 408px;
    min-width: 100px;
    margin-left: -15px;
	/* margin-right: 16px; */
	display: inline-block;
}
.chat .msg_sent {
    /* padding-bottom: 20px !important; */
    margin-right: 0;
    background: #418ddb !important;
    float: right;
}
.chat .option-icon {
    position: absolute;
    right: -13px;
    background: transparent;
    top: -9px;
    border: none;
    /* padding: 0px; */
    display: none;
}
.chat .dropdown-menu {
    top: 15px !important;
    left: -125px !important;
    max-width: 150px !important;
    padding: 10px;
    width: 150px;
}
.chat .messages > p {
    margin-bottom: 6px;
    color: #000000;
    word-break: break-all;
    white-space: pre-line;
}
.chat .msg_sent p {
	color: #ffffff !important;
	font-size:14px;
}
.chat .messages > time {
    font-size: 11px;
    color: #ffffff;
}
.chat .msg_sent > time, .chat .msg_receive > time {
    float: right !important;
}
.chat .chat-action {
    float: right;
    display: none;
}
.chat .chat-list li:hover .chat-action {
    display: block;
    position: absolute;
    right: 0px;
    padding: 2px 8px;
    z-index:1;
    bottom:0px;
    top: 22px;
}
.chat .chat-list li:hover .chat-action svg{
    color:#999999;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.pr-3, .px-3 {
    padding-right: 1rem !important;
}
.chat .popover_file {
    position: absolute;
    bottom: 60px;
    height: 60px;
    width: 34px;
    right: 36px;
    padding: 4px;
    z-index: 99;
}
.chat .popover_file .row .attechment {
    position: absolute;
    bottom: 60px;
}
.chat .popover_file .row div {
    padding-left: 0;
    padding-right: 0;
}
.chat .popover_file .fa{
    font-size: 18px;
    background-color: #fff;
    padding: 15px 16px;
    border-radius: 90px;
    background: #f1f1f1;
    width: 50px;
    height: 50px;
    /* right: 0; */
    border: 1px solid #dedede;
}
.chat .popover_file .row div {
    padding-left: 0;
    padding-right: 0;
}
.chat .file_name {
    margin: -30px 0px 0px !important;
    padding: 11px;
    background: #fff;
    width: 100%;
	border: 1px solid;
	display: flex;
    align-items: center;
}
.chat .file_name p {
    margin: 0;
}
.fz-16 {
    font-size: 16px;
}
.chat .post-btn {
    padding: 9px 22px !important;
    position: relative;
    border: 1px solid #CECECE !important;
    border-radius: 6px !important;
    background-color: #FFFFFF;
    box-shadow: 0 8px 20px 0 rgba(4, 27, 53, 0.1);
    color: #000000 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    text-align: center;
}
.chat .chat-message-box {
    position: relative;
    width: 100%;
	padding: 15px 35px;
	bottom:0px;
}
.chat .badge-secondary{
	padding: 6px 4px;
    border-radius: 5px;
    font-size: 10px;
    position: absolute;
    top: 4px;
    background-color: #007bff;
    right: -6px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
}
.emojionearea-search > input {
    outline: none;
    width: 160px;
    min-width: 160px;
    height: 20px;
}
.emoji-area.form-control{width: 80%;height:50px;}
.emoji-area.emojionearea .emojionearea-editor:empty:before{ text-align: left; }
.emoji-area.emojionearea .emojionearea-button{ top: 12px; right: 35px;}
.emoji-area.emojionearea .emojionearea-editor{ line-height: 2; top:8px; width: 100%; text-align: justify;
	min-height: 100%; background:#fff; color: #999999; max-height: 47px;}
	#mobile-chat .emoji-area.emojionearea .emojionearea-editor{ max-height: -webkit-fill-available;}
.col-lg-9.p-0.chat-bg-img.br-r-6{overflow-y:auto;}
.msg_container .row .base_sent{width: 109%;} #desktop-chat .active-y{ overflow-y: hidden;}
.emojionearea .emojionearea-button.active + .emojionearea-picker-position-top {margin-right: 15px;}
.emojionearea .emojionearea-picker.emojionearea-picker-position-top .emojionearea-wrapper:after{right: 9px;}
.desktop-chat .chat-message-box,#mobile-chat .chat-list li, .desktop-chat .typing,.desktop-chat .chat-screen,.desktop-chat .chat-list li{display: none;}
@media only screen and (max-width: 320px){
	.emojionearea .emojionearea-button.active + .emojionearea-picker-position-top {margin-right:-34px !important;}.popover_file{z-index:0;}
}
.panel-body{
    background: #fff!important; 
    border: 0!important; 
    border-radius: 0px!important;
    padding: 0px!important;
    position: relative!important;
}
.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}
.pr-4, .px-4 {
    padding-right: 1.5rem!important;
}
.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
    background-color: #ffffff;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.d-none{
    display:none;
}
#uploadimage, #uploadfile{
    display:none;
}
.input-group{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group-append {
    margin-left: -1px;
    position: absolute;
    right: 0;
    z-index: 11;
    height: 49px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}
.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.chat-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 15px;
}
.chat-header .chat-header-user {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.chat-header .chat-header-user figure {
    margin-right: 1rem;
}
.chat-header .chat-header-user figure.avatar {
    display: inline-block;
    margin-bottom: 0;
    height: 3rem;
    width: 3rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.chat-header figure.avatar a img, .chat-header figure.avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.chat-header .rounded-circle {
    border-radius: 50%!important;
}
.chat-header .dropdown-menu {
    top: 40px !important;
    right: 35px !important;
    min-width: 30px !important;
    left:auto!important;
}
.mt-0{
    margin-top:0px;
}
.mb-0{
    margin-bottom:0px;
}
.msg_receive time{
    color:#000!important;
}
.atteched-btn {
    background: #fff;
    border-left: 0;
    font-size: 20px;
    color: #9e9e9e;
    cursor: pointer;
}