.navbar-default{background:#ffffff;box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.09);}
.navbar-default .navbar-nav li a{color:#606060;}
.navbar a.navbar-brand{padding: 5px 0 5px 0;}
.navbar a.navbar-brand img {
  width: auto;
  height: 82px;
}
.d-flex{display:flex;}
.align-items-center{align-items: center;}
.ml-auto {
  margin-left: auto !important;
}
.responsive-table .table-header{
  padding: 10px 20px;
      height: 35px;
}
.responsive-table li {
  border-radius: 3px;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
}
.responsive-table .table-header {
  background-color: #3f8ddc;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 600;
  color: #ffffff;
  border-radius: 0px;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(63, 141, 220, 0.2);
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.responsive-table .col-2 {
  flex-basis: 25%;
}
.responsive-table .col-3 {
  flex-basis: 25%;
}
.responsive-table .col-4 {
  flex-basis: 25%;
}
.responsive-table .col-5 {
  flex-basis: 25%;
}
.responsive-table .col-6 {
  flex-basis: 26%;
}
.responsive-table .col-7 {
  flex-basis: 25%;
}
.responsive-table .col-8 {
  flex-basis: 57%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
.search__input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.form-inline .bootstrap-select{
  width: auto;
  border: 0;
  color: #494949;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: none;
}
.bootstrap-select .btn-default{
  border:1px solid #bfcbd9;
  border-radius: 0px;
}
.bs-caret{
  margin-left: 10px;
}

.btn-theme{
  border:1px solid #50607a;
  border-radius: 5px!important;
  background-color: #ffffff;
  color:#50607a;
  display: flex;
  align-items: baseline;
}
.btn-theme:hover{
  border:1px solid #50607a;
  border-radius: 5px!important;
  background-color: #50607a;
  color:#ffffff;
  display: flex;
  align-items: baseline;
}
.btn-theme-outline{
  border:1px solid #50607a;
  border-radius: 5px!important;
  background-color: #ffffff;
  color:#50607a;
  display: flex;
  align-items: baseline;
}
.btn-theme-outline:hover{
  border:1px solid #50607a;
  border-radius: 5px!important;
  background-color: #50607a;
  color:#ffffff;
  display: flex;
  align-items: baseline;
}
.mr-3{
  margin-right:3px;
}
.mt-8{
  margin-top:8px;
}
.mr-10{
  margin-right:10px;
}
.badge-active {
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 13px;
  color: #8cbf42;
  background-color: rgba(157, 200, 94, .2);
}
.badge-cancelled {
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 13px;
  color:#FC2D42;
  background-color: rgba(252, 45, 66, 0.23);
}
.badge-pending {
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 13px;
  color: #b7ac14;
  background-color: #f3eda2;
}
.btn-confirm:hover {
  border: 1px solid rgba(141, 191, 66, .5);
  border-radius: 5px!important;
  background-color: #8DBF42;
  color: #ffffff;
  display: flex;
  align-items: baseline;
}
.btn-confirm {
  border: 1px solid rgba(141, 191, 66, .5);
  border-radius: 5px!important;
  background-color: #ffffff;
  color: #8DBF42;
  display: flex;
  align-items: baseline;
}
.btn-appologise:hover {
  border: 1px solid rgba(252, 45, 66, .5);
  border-radius: 5px!important;
  background-color: #FC2D42;
  color: #ffffff;
}
.btn-appologise {
  border: 1px solid rgba(252, 45, 66, .5);
  border-radius: 5px!important;
  background-color: #ffffff;
  color: #FC2D42;
  display: flex;
  align-items: baseline;
}
.btn-reply {
  border: 1px solid rgba(208, 171, 65, .5);
  border-radius: 5px!important;
  background-color: #ffffff;
  color: #d0ab41;
}
.btn-reply:hover {
  border: 1px solid rgba(208, 171, 65, .5);
  border-radius: 5px!important;
  background-color: #d0ab41;
  color: #ffffff;
  display: flex;
  align-items: baseline;
}
.btn-close{
  border: 1px solid rgb(64, 64, 64, .5);
  border-radius: 5px!important;
  background-color: #ffffff;
  color: #404040;
  display: flex;
  align-items: baseline;
}
.btn-close:hover{
  border: 1px solid rgba(64, 64, 64, .5);
  border-radius: 5px!important;
  background-color: #404040;
  color: #ffffff;
  display: flex;
  align-items: baseline;
}
.msg-text{
  max-width: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.msg-wrap .mail-item-heading {
  padding: 11px 10px 11px 0;
  cursor: pointer;
  position: relative;
  background: #fff;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  margin-bottom: 10px;
  border: 1px solid #e0e6ed;
  border-radius: 0px;
}
.msg-wrap .mail-item-inner {
  padding-left: 15px;
}
.msg-wrap .f-body {
  align-self: center;
  display: flex;
  width: 100%;
}
.msg-wrap .f-body div.meta-mail-time {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 992px){
  .msg-wrap .f-body .user-email {
    min-width: 170px;
    max-width: 170px;
  }
}
.msg-wrap .f-body .user-email {
  min-width: 150px;
  max-width: 200px;
  font-size: 14px;
  color: #314e73;
  margin-bottom: 0;
  letter-spacing: 0px;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
  align-self: center;
  font-weight: 700;
}
.msg-wrap .f-body div.meta-title-tag {
  display: flex;
  width: 73%;
  align-items: center;
}
.msg-wrap .mail-content-excerpt {
  font-size: 14px;
  margin-bottom: 0;
  color: #607d8b;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
  width: 700px;
  align-self: center;
}
.msg-wrap .f-body .mail-title {
  font-size: 14px;
  margin-bottom: 2px;
  letter-spacing: 0px;
  font-weight: 700;
  color: #314e73c7;
}
.msg-wrap .f-body .meta-time {
  margin-bottom: 0;
  float: right;
  font-weight: 500;
  font-size: 12px;
  min-width: 75px;
  max-width: 80px;
  text-align: right;
}
.btn-create {
  border: 1px solid #8cbf42;
  border-radius: 50px!important;
  background-color: #8bbf42;
  color: #ffffff;
  display: flex;
  align-items: baseline;
}
.btn-create:hover {
  border: 1px solid #8cbf42;
  border-radius: 50px!important;
  background-color: #ffffff;
  color: #8bbf42;
  display: flex;
  align-items: baseline;
}





.stepwizard-step p {
  margin-top: 0px;
  color:#666;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}
.stepwizard-step button[disabled] {
  /*opacity: 1 !important;
  filter: alpha(opacity=100) !important;*/
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
  opacity:1 !important;
  color:#bbb;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content:" ";
  width: 85%;
  height: 1px;
  background-color: #ccc;
  z-index: 0;
  left:22px;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle:before {
  content: 'Off';
  left: -4rem;
}
.btn-toggle:after {
  content: 'On';
  right: -4rem;
  opacity: 0.5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}
.btn-toggle.active {
  background-color: #29b5a8;
}
.btn-toggle.btn-lg {
  margin: 0 8rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none;
}
.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-lg:before {
  content: 'No fitting';
  left: -8rem;
}
.btn-toggle.btn-lg:after {
  content: 'With fitting';
  right: -6rem;
  opacity: 0.5;
}
.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg.active > .handle {
  left: 2.8125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-lg.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.6875rem;
  width: 3.875rem;
}
.btn-toggle.btn-lg.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
  display: none;
}
.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}
.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-sm:before {
  content: 'No fitting';
  left: -0.5rem;
}
.btn-toggle.btn-sm:after {
  content: 'With fitting';
  right: -0.5rem;
  opacity: 0.5;
}
.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
  display: none;
}
.btn-toggle.btn-xs {
  margin: 0 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem;
}
.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
  outline: none;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  line-height: 1rem;
  width: 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-xs:before {
  content: 'no fitting';
  left: 0;
}
.btn-toggle.btn-xs:after {
  content: 'with fitting';
  right: 0;
  opacity: 0.5;
}
.btn-toggle.btn-xs > .handle {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-xs.active > .handle {
  left: 1.125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-xs.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.275rem;
  width: 1.55rem;
}
.btn-toggle.btn-xs.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-xs.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
  display: none;
}
.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381;
}
.btn-toggle.btn-secondary.active {
  background-color: #ff8300;
}
.mr-10{
  margin-right:10px;
}
input[type=file]{
  border:0px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background: 0 0;
  border-radius: 30px;
  color: #000000;
}
.w-100{width:100%;}
.empty-profile-wrap{
  min-height: 400px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: grid;
  border: 1px dashed #86b6e8;
  width: 100%;
}

.garage-profile .product{
  padding: 1px;
  box-sizing: border-box;
  margin-bottom: 0px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 0;
  border-radius: 0;
  background: #fff;
  overflow: hidden;
  position:relative;
  margin-bottom: 10px;
}
.garage-profile .product img {
  max-width: 100%;
  float: left;
  margin-right: 20px;
  height: 114px;
  border-radius: 4px;
  box-shadow: 0 1px 15px 1px rgba(133, 182, 232, .4);
  border: 1px solid #c4dcf4;
  padding: 1px;
}
.garage-profile .product h3 {
  color: #314e73;
  font-size: 18px;
  padding: 0px 0 0 10px !important;
  clear: none;
}
.garage-profile .product .shrt_des p {
  margin-bottom: 5px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
}
.mt-5{
  margin-top:5px!important;
}
.mb-5{
  margin-bottom:5px!important;
}

.review-wrap {
  display: flex;
  align-items: normal;
  padding: 10px;
  margin-bottom: 10px;
}
.rating-number{
  color: #ffffff;
}
.profile-wrap {
  border-radius: 50%;
  box-shadow: 0 1px 2px #8d8d8d;
  height: 36px;
  width: 36px;
  min-height: 36px;
  min-width: 36px;
}
.profile-wrap img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
.profile-content {
  margin-left: 20px;
}
.user-name {
  font-size: 16px;
  font-weight: 700;
}
.date-time {
  margin-top: -7px;
}
.rating_wrap .rating {
  overflow: hidden;
  position: relative;
  height: 20px;
  font-size: 12px;
  width: 100px;
  font-family: "FontAwesome";
  display: inline-block;
  vertical-align: middle;
}
#full-stars-example-two .rating-group {
  display: inline-flex;
}
#full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 1rem;
  color: #999;
  font-weight:600;
}
#full-stars-example-two .rating__icon--star {
  color: orange;
}
.no-gutter {
  padding-right: 0;
  padding-left: 0;
}
.gallery .img-wrap {
  padding: 2px;
  border: 1px solid #cecece;
  border-radius: 0px;
}
footer{
  height:70px;
}
footer a{
  font-size:14px;
  text-transform: capitalize;
  color:#333333;
}
.btn-md{
  padding: 10px 40px;
  letter-spacing: 1px;
}
.video-wrap {
  border: 1px solid #cecece;
  padding: 2px;
}
.share-social-menu{
  float: left;
  margin: 20px 0 0;
}
.share-social-menu li {
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
  width: 50px;
  background-color: #798ca5;
  padding: 10px;
}
.social {
  background-position: -4px -2px;
  width: 51px;
  height: 51px;
}
.share-social-menu li a{
  color: #ffffff;
  display: inline-block;
  font-size: 11.3px;
  font-size: 18px;
}
.mb-20{margin-bottom:20px;}
.banner-bg{
  /*background-image: url(../images/garage-bg.png);*/
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  /*background-color: transparent!important;*/
  padding:20px;
  color: #ffffff;
  position:relative;
}
.p-0{
  padding:0px!important;
}
.custom-options{
  position:absolute;
  bottom:0px;
}
.custom-options li{
  text-align: center;
  color:#ffffff;
  display: inline-block;
  margin: 0 40px 0 0;
}
.custom-options li i{
  background-color: #000;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 12px;
  color: #ffffff;
  font-size: 22px;
}
.custom-options li span{
  color:#ffffff;
}
.banner-bg .edit-wrap{
  position: absolute;
  right: 0px;
  padding: 14px;
  background-color: transparent;
  top: 0;
}
.banner-bg .edit-wrap i{
  font-size:22px;
  color:#ffffff;
}
.nav-tabs{
  background-color: #667c97;
}
.nav-tabs>li>a{
  padding: 12px 60px 12px 60px;
  color:#d8d6d6;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .3px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #000000;
  background: 0 0;
  color: #ffffff;
}
.review-text {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
}

.newsfeed-wrap .card {
  border: 0;
  padding: 0px;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 15px 45px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}
.newsfeed-wrap .card-body {
  padding: 20px;
}
.newsfeed-wrap .card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.newsfeed-wrap .media {
  display: flex;
  align-items: flex-start;
}
.newsfeed-wrap .posted-logo {
  border-radius: 6px;
  max-width: 36px;
  max-height: 36px;
  width: 36px;
  height: 36px;
}
.mr-2, .mx-2 {
  margin-right: 0.5rem !important;
}
.newsfeed-wrap .posted-logo img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.2);
}
.media-body {
  flex: 1;
}
.newsfeed-wrap .media-body h6 {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.newsfeed-wrap .media-body h6 a {
  color: #314e73;
}
.newsfeed-wrap .post-description .title {
  color: #314e73;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  word-wrap: break-word;
  margin-bottom: 0px;
  text-align: left;
}
.newsfeed-wrap .post-description .description {
  color: #314e73;
  font-size: 14px;
  line-height: 22px;
  word-wrap: break-word;
  font-weight: 400;
  margin-bottom: 0px;
  text-align: left;
}
.font-14{
  font-size:14px;
}
.lh-20{
  line-height: 20px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
}
.rating_num {
  color: #314e73;
}
.total-count{
  color:#ffffff;
}
.header-wrap .dl a{
  font-size: 14px;
  color: #314e73;
}
.garage-profile-product .product {
  padding: 1px;
  box-sizing: border-box;
  margin-bottom: 0px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 0;
  border-radius: 0;
  background: #fff;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
.garage-profile-product .product img {
  max-width: 100%;
  float: left;
  margin-right: 20px;
  height: 75px;
  border-radius: 4px;
  box-shadow: 0 1px 15px 1px rgba(133, 182, 232, .4);
  /* border: 1px solid #c4dcf4; */
  padding: 6px;
}
.edit-gallery-wrap{
  display:none;
}
.empty-gallery-wrap h3{
  color: #667c97;
}
.filled-gallery-wrap{
  /*display:none;*/
}
.edit-gallery-wrap .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.edit-gallery-wrap .upload-btn-wrapper .btn {
  border: 1px solid #667c97;
  color: #667c97;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}
.edit-gallery-wrap .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width:100%;
}
.footer-wrap a {
  font-size: 16px;
  color: #314e73;
}
.btn-info {
  border-color: #3787da!important;
  background-color: #408ddc!important;
}
.edit-service-wrap{
  display:none;
}
.empty-service-wrap h3{
  color: #667c97;
}
.filled-service-wrap{
  /*display:none;*/
}
.edit-product-wrap{
  display:none;
}
.empty-product-wrap h3{
  color: #667c97;
}
.filled-product-wrap{
  /*display:none;*/
}
.edit-product-wrap .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.edit-product-wrap .upload-btn-wrapper .btn {
  border: 1px solid #667c97;
  color: #667c97;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}
.edit-product-wrap .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width:100%;
}
.composeModal input{
  border: 1px solid #ced4da!important;
}
textarea{
  border-radius:0!important;
}
.dropdown-item{
  color: #181818;
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
}

.product-listing-wrapper{
  border: 1px solid #e1e1e1;
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
  margin-bottom:50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
}
.product-listing-wrapper .product-list{
  display: flex;
  align-items: top;
}
.product-listing-wrapper .product-list .image-holder{
  margin-right: 15px;
  /*max-height: 200px;
  width: 400px;*/
  padding: 2px;
  margin-bottom: 20px;
}
.product-listing-wrapper .product-list .image-holder img{
  width:100%;
  border-radius:5px;
}
.product-listing-wrapper .product-list .title{
  color: #181818;
  font-size: 18px;
  line-height: 32px;
  font-family: var(--main-color-one);
  font-weight: 600;
}
.product-listing-wrapper .product-list .description{
  color: #000;
  font-size: 16px;
  line-height: 25px;
  font-family: var(--main-color-one);
  font-weight: 500;
}
.product-listing-wrapper .product-list .more-description{
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 25px;
  font-family: var(--main-color-one);
  font-weight: 500;
}
.product-listing-wrapper .product-list .part-number{
  color: rgb(51, 51, 51);
  font-size: 12px;
  line-height: 25px;
  font-family: var(--main-color-one);
  font-weight: 500;
}
.product-listing-wrapper .product-list .price{
  color: #181818;
  font-size: 18px;
  line-height: 25px;
  font-family: var(--main-color-one);
  font-weight: 700;
}
.product-listing-wrapper .see-all-products-details a{
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}
.ms-showcase2-template {max-width: 540px; margin: 0 auto;}
.ms-showcase2-vertical {max-width: 677px;}
.ms-showcase2-template .ms-view{background: transparent;}
.item-description{
  margin-top: 0px;
  color: #222;
  font-weight: 500;
  font-family: var(--body-font);
}
.item-description span {
  display: block;
  margin-bottom: 10px;
  font-family: var(--body-font);
}

.text-primary {
  color: #26bbad;
}
.btn-dark {
  background: #333;
  color: #fff;
}

.btn-xl {
  padding: 10px 35px 10px;
}
.count-input {
  position: relative;
  width: 100%;
  margin: 0px auto;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  z-index: 1;
}
.count-input .incr-btn {
  display: block;
  position: absolute;
  width: 36px;
  height: 45px;
  font-size: 18px;
  color: #606060;
  font-weight: 300;
  text-align: center;
  line-height: 45px;
  text-decoration: none;
  top: 0;
  right: 0;
}
.count-input input {
  width: 100%;
  height: 36px;
  border: 1px solid #ededed;
  border-radius: 0px;
  background: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input, input[type="text"], input[type="email"], textarea, .form-control {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  /*min-height: 36px;*/
  border-color: #eee;
}
.margin-b-40 {
  margin-bottom: 40px !important;
}

.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
.tab{
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  /* background: #000; */
  display: inline-block;
  color: #333;
  border-radius: 3px 3px 0px 0px;
  font-family: var(--body-font);
}
.panels{
  background:#fffffff6;
  min-height:200px;
  width:100%;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  /*display:none;*/
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background: #fffffff6;
  color: #3988da;
  border-bottom: 3px solid #3988da;
}
th{
  background: rgb(245, 245, 245);
  font-family: var(--body-font);
}
td{
  font-family: var(--body-font);
}
.ms-thumb-frame{
  border: 1px solid #eee;
  padding: 2px;
  overflow: hidden;
}
.ms-thumb-frame img{
  width:100%;
  height:100%;
  object-fit: scale-down;
}
.ms-slide .ms-slide-bgcont img, .ms-container, .ms-inner-controls-cont {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%!important;
  object-fit: scale-down;
  margin-left: 0px!important;
}
.price-saved{
  font-size: 13px;
  line-height: normal;
  color: rgb(102, 153, 68);
  font-weight: 700;
}
.list-price{
  font-size: 13px;
  line-height: normal;
  color: rgb(51, 51, 51);
  display:flex!important;
}
.strike {
  text-decoration: line-through;
}
.part-number {
  color: rgb(51, 51, 51);
  font-size: 12px;
  line-height: 25px;
  font-family: var(--main-color-one);
  font-weight: 500;
  margin-bottom:0px!important;
}
.ms-sbar {
  position: absolute;
  display: none;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
.font-24{
  font-size:24px;
}
.font-14{
  font-size:14px;
}
.font-18{
  font-size:18px;
}
.btn-dashboard{
  padding: 15px 80px;
  border-radius: 0px;
  font-size: 16px;
}

.tag-wrapper {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.tag-dropdown {
  width: 100%;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 40px 0 20px;
  white-space: nowrap;
  text-align: center;
  margin: 20px auto;
  font-size: 13px;
  background: #FFFFFF;
  font-family: 'source_sans_prosemibold';
  cursor: pointer;
  display: none;
  border-radius: 30px;
  text-align: left;
  position: relative;
  max-width: 283px;
  position: relative;
  z-index: 1;
}
.tag-wrapper .icon-down-angle, .fillter-wrapper .icon-down-angle {
  position: absolute;
  right: 20px;
  top: 18px;
  z-index: 2;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important;
}
.icon-down-angle {
  width: 10px;
  height: 6px;
  background-position: -350px -50px;
}
.tag-nav {
  margin-top: 20px;
}
.tags:hover, .tags.selected {
  background: #453F3B;
  color: #FFFFFF;
}
.tags {
  min-width: 213px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  white-space: nowrap;
  text-align: center;
  font-size: 13px;
  background: #FFFFFF;
  display: inline-block;
  margin: 5px;
  border-radius: 0px;
  color: #453F3B;
}
.nav-pills>li>a {
  border-radius: 0px;
  padding: 10px;
  font-size: 14px;
  background-color: #eee;
  color: #000;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
}
.form-cf{
  display: inline-block;
}
.form-cf input[type="checkbox"]{
	display: none;
}
.form-cf input[type="text"]{
  height:50px;
  line-height: 47px;;
}
.form-cf label{
	position: relative;
	color: #000;
	background-color: #ffffff;
	font-size: 14px;
	text-align: center;
	height: 60px;
	line-height: 55px;
	display: block;
	cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 0px;
  margin-right:0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.1), inset 0 1px 4px 0 rgba(0,0,0,.1);
  padding:0 20px;
  min-width: 219px;
}

.form-cf input:checked + label{
	background-color: transparent;
}

.form-cf input:checked + label:after{
  content: "\f00c";
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
  z-index: 999;
  position: absolute;
  top: 0px;
  right: 0px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  padding: 3px;
  color: #3379b7;
}

.form-cf .checkbox-btn{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 25px;
}

.product-name-wrap, .product-brand-wrap, .status-wrap, .date-wrap{
  margin-top:30px;
  padding:15px;
  text-align: center;
}
.btn-msg {
  border: 1px solid #bf714269;
  border-radius: 5px!important;
  background-color: #ffffff;
  color: #bf7142;
  display: flex;
  align-items: baseline;
}
.btn-msg:hover {
  border: 1px solid #bf7142;
  border-radius: 5px!important;
  background-color: #bf7142;
  color: #ffffff;
  display: flex;
  align-items: baseline;
}

.btn-re-activate {
  border: 1px solid rgba(241, 142, 41, .5);
  border-radius: 5px!important;
  background-color: #ffffff;
  color: #ec9f56;
  display: flex;
  align-items: baseline;
}
.btn-re-activate:hover {
    border: 1px solid #ec9f56;
    border-radius: 5px!important;
    background-color: #ec9f56;
    color: #fff;
    display: flex;
    align-items: baseline;
  }

table.dataTable {
  width: 100%!important;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  /*padding-right: 30px;*/
  padding:0px 10px;
  text-align: left!important;
  vertical-align: middle!important;
}
.form-inline .form-control {
  display: inline-block;
  width: 100%!important;
  vertical-align: middle;
}
.dataTables_filter{
  display:block!important;
}
table.dataTable tr{
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(63, 141, 220, 0.2);
}
table.dataTable tbody tr td{ 
  padding:15px;
}
table.dataTable .col-1{
  width:8%!important;
}
table.dataTable .col-5 {
  width: 15%!important;
}
table.dataTable input, table.dataTable input[type="text"], table.dataTable input[type="email"], table.dataTable textarea, table.dataTable .form-control {
  border-radius:0px;
}
.remember-admin{
  margin:2px 0 0 -20px!important;
}
.new-post-wrap .post-new-media-user{
  width:40px;
  height:40px;
  min-width:40px;
  min-height:40px;
  max-width:40px;
  max-height:40px;
  margin-right:10px;
  border-radius:50%;
  box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.2);
}
.new-post-wrap .post-new-media-user img{
  width:100%;
  border-radius:50%;
  margin:0 auto;
}
.new-post-wrap .post-new-media-input{
  position:relative;
}
.new-post-wrap input{
  border-radius:50px;
  padding-right: 60px;
}
.new-post-wrap input.form-control:focus{
  border:1px solid #f1f5f7;
}
.new-post-wrap .btn{
  color: #929292;
  text-decoration: none;
  cursor: pointer;
  position:absolute;
  right:0px;
  height:36px;
  top:0px;
  border-radius:0 50px 50px 0;
}
.new-post-wrap a i{
  color: #667c97;
  padding: 5px;
}
.new-post-wrap .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width:100%;
  cursor:pointer;
}
.p-40{
  padding:40px;
}
.w-50{
  width:50%;
}
.w-15{
  width:15%;
}
.margin-auto{
  margin:0 auto;
}
.empty-newsfeed-wrap{
  padding:40px 20px;
}
.empty-newsfeed-wrap img{
  opacity:.5;
}
.empty-newsfeed-wrap h3{
  color:#666666;
  text-transform: capitalize;
}
.filled-newsfeed-wrap{
  /*display:none;*/
}
.edit-about-wrap{
  display:none;
}
.filled-about-wrap{
  /*display:none;*/
}
.edit-review-wrap{
  display:none;
}
.edit-review-wrap .star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:2em;
  justify-content:space-around;
  text-align:center;
  width:5em;
}
.edit-review-wrap .star-rating input {
  display:none;
}
.edit-review-wrap .star-rating label {
  color:#ccc;
  cursor:pointer;
  font-size:18px;
}
.edit-review-wrap .star-rating :checked ~ label {
  color:#f90;
}
.edit-review-wrap .star-rating label:hover,
.edit-review-wrap .star-rating label:hover ~ label {
  color:#fc0;
}
.filled-review-wrap{
  display:none;
}
.p-10{
  padding:10px;
}
.p-20 {
    padding: 20px;
}
.edit-garage-wrap .star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:2em;
  justify-content:space-around;
  text-align:center;
  width:5em;
}
.edit-garage-wrap .star-rating input {
  display:none;
}
.edit-garage-wrap .star-rating label {
  color:#ccc;
  cursor:pointer;
  font-size:18px;
}
.edit-garage-wrap .star-rating :checked ~ label {
  color:#f90;
}
.edit-garage-wrap .star-rating label:hover,
.edit-garage-wrap .star-rating label:hover ~ label {
  color:#fc0;
}
.edit-garage-wrap{
  display:none;
}
.filled-garage-wrap{
  /*display:none;*/
}

.edit-bg-wrap{
  display:none;
}

.modal-dialog-scrollable-2 {
    height: 96vh;
    overflow-y: auto;
    margin-top: 10px;
}

/* BG CSS */
.edit-bg-wrap .banner-bg{
			width:100%;
			min-height: 210px;
			border-top-left-radius: 9px;
			border-top-right-radius: 9px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px;
			background-size: cover,457px 457px;
			background-repeat: repeat;
			transition: background-image 1s ease-in-out;
		}
	.edit-bg-wrap #bg-selector {
			font-size: 1em;
			font-style: italic;
		}
		.edit-bg-wrap .color {
			width: 24px;
			height: 24px;
			border: 1px solid #555;
			display: inline-block;
			margin: 0 0 0 0.2em;
			cursor: pointer;
		padding: 2px;
		}
		.edit-bg-wrap .color img {
		max-width: 100%;
		max-height: 100%;
		display: block;
		}
		.edit-bg-wrap .saffron {
			background-color: #0c1767;
		}
		.edit-bg-wrap .gray{
			background-color: #666;
		}
		.edit-bg-wrap .violet {
			background-color: #7329ff;
		}
		.edit-bg-wrap .white {
			background-color: #666;
		}
		.edit-bg-wrap .blue {
			background-color: #2998ff;
		}
		.edit-bg-wrap .red {
			background-color: #931a25;
		}
		.edit-bg-wrap .green {
			background-color: #358f25;
		}
		.edit-bg-wrap #colorpicker { visibility: hidden; }
		.edit-bg-wrap .d-flex{display:flex;}
		.edit-bg-wrap .flex-wrap-wrap {
			display: flex;
			flex-wrap: wrap;
		}
		.edit-bg-wrap .flex-row-centered {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		.edit-bg-wrap .background-img-wrap{
			width: 68px;
			border-radius: 6px;
			position: relative;
			margin-right:5px;
		}
		.edit-bg-wrap .background-img-wrap img {
			width: 68px;
			height: 40px;
		}
    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
      outline: none!important;
    }

    .dataTables_wrapper .dataTables_filter input{
      margin-left: 0px!important;
      height: auto!important;
      line-height: 25px!important;
	      width: 80%!important;
    }
    .dataTables_empty{vertical-align: bottom!important;text-align:center!important;}
    .category-wrap .nav-tabs li a{
      text-transform:capitalize!important;
      font-weight: 600;
      font-size: 14px;
    }
    .get-quote-wrap .nav-tabs li a{
      text-transform: capitalize!important;
      font-weight: 600;
      font-size: 16px;
    }
    #myquotelist thead th{
      white-space:nowrap;
      width:auto!important;
    }
    #myquotelist tbody td{
      box-sizing:border-box;
    }
    .modify-request-wrap tbody td{
      box-sizing:border-box;
    }
    /*header::before {
      content: "";
      position: absolute;
      background-color: #3f8ddb;
      -webkit-clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 3% 100%);
      width: 100%;
      left: 0;
      height: 100%;
      z-index: 0;
      top: 0;
      left: 20%;
    }*/
	table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
		bottom: 10px;
	}
	
	.mb-3{margin-bottom:3px;}
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 100%;
	}
	.color_white{color:#ffffff;}
	.navbar-default .navbar-nav>li>a {
		font-size: 14px;
	}
	@media (max-width: 767px){
		.navbar-default .navbar-nav .open .dropdown-menu li a {
			color: #000;
		}
		.navbar-toggle{
			top: 17px;
			background-color: #3385d9;
		}
		.video-wrap video{height:auto!important;}
		.btn-dashboard{width:100%;margin-bottom:2px;}
		.setup-content#step-6 .btn-appologise{margin-bottom:2px!important;float:left!important;}
		.setup-content#step-6 .btn-confirm{margin-bottom:2px!important;float:left!important;}
		.setup-content#step-6 .btn-theme{margin-bottom:2px!important;float:left!important;}
	}
	
	
	
	
	
	
	
	
	
	
	
	
	